[submodule "imported/cpp-subprocess"]
	path = imported/cpp-subprocess
	url = git://github.com/polysquare/cpp-subprocess
[submodule "imported/gtest-tap-listener"]
	path = imported/gtest-tap-listener
	url = git://github.com/smspillaz/gtest-tap-listener
[submodule "cmake/common"]
	path = cmake/common
	url = git://github.com/polysquare/common-universal-cmake
[submodule "cmake/CMakeCPPSubprocess"]
        path = cmake/CMakeCPPSubprocess
        url = git://github.com/polysquare/cpp-subprocess-cmake
