[submodule "cmake/Vera++"]
	path = cmake/Vera++
	url = git://github.com/polysquare/veracpp-cmake.git
	branch = master
[submodule "cmake/CMakeCPPCheck"]
	path = cmake/CMakeCPPCheck
	url = git://github.com/polysquare/cppcheck-target-cmake
[submodule "cmake/CMakeGoogleMock"]
	path = cmake/CMakeGoogleMock
	url = git://github.com/polysquare/gmock-cmake
[submodule "imported/cpp-subprocess"]
	path = imported/cpp-subprocess
	url = git://github.com/polysquare/cpp-subprocess
[submodule "cmake/CMakeCPPSubprocess"]
	path = cmake/CMakeCPPSubprocess
	url = git://github.com/polysquare/cpp-subprocess-cmake
