language: cpp
compiler:
  - gcc
  - clang
before_install:
  - git submodule update --init --recursive
  - sudo apt-add-repository -y ppa:smspillaz/double-conversion-mirror
  - sudo apt-add-repository -y ppa:fcitx-team/nightly
  - sudo apt-add-repository -y ppa:smspillaz/verapp-latest
  - sudo apt-add-repository -y ppa:smspillaz/folly-dev
  - sudo apt-get update -qq
  - sudo apt-get install -qq `cat DEPENDENCIES`
script: mkdir build && cd build && cmake .. && make && cd tests && ./unit/yiqi_unit_tests && ./integration/yiqi_integration_tests && ./acceptance/yiqi_acceptance_tests
